apiVersion: v1
kind: Secret
metadata:
  name: {{ item.name }}-git
  namespace: {{ argocd_namespace }}
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  name: {{ item.name }}
  url: {{ item.url }}
  type: git
  {% if username in item %}
  username: {{ item.username }}
  password: {{ item.password }}
  {% endif %}
  {% if ssh_private_key_file in item %}
  sshPrivateKey: |
    {{ lookup('file', item.ssh_private_key_file) }}
  {% endif %}
  {% if proxy in item %}
  proxy: {{ item.proxy }}
  {% endif %}