apiVersion: v1
kind: Secret
metadata:
  name: {{ item.name }}-git
  namespace: {{ argocd_namespace }}
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  name: {{ item.name }}
  url: {{ item.url }}
  type: git
{% if item.username is defined %}
  username: {{ item.username }}
  password: {{ item.password }}
{% endif %}
{% if item.ssh_private_key_file is defined %}
  sshPrivateKey: |
{{ lookup('file', item.ssh_private_key_file) | indent(4, True) }}
{% endif %}
{% if item.proxy is defined %}
  proxy: {{ item.proxy }}
{% endif %}
