apiVersion: v1
kind: Secret
metadata:
  name: {{ item.name }}
  namespace: {{ argocd_namespace }}
  labels:
    argocd.argoproj.io/secret-type: cluster
type: Opaque
stringData:
  name: {{ item.name }}
  server: {{ host_url }}
  config: |
    {
      "username": "{{ item.username }}",
      "tlsClientConfig": {
        "insecure": false,
        "caData": "{{ ca_cert }}",
        "certData": "{{ cert_data }}",
        "keyData": "{{ key_data }}"
      }
    }