apiVersion: v1
kind: Secret
metadata:
  name: {{ item.name }}
  namespace: {{ argocd_namespace }}
  labels:
    argocd.argoproj.io/secret-type: cluster
type: Opaque
stringData:
  name: {{ item.name }}
  server: https://mycluster.com
  config: |
    {
      "bearerToken": "<authentication token>",
      "tlsClientConfig": {
        "insecure": false,
        "caData": "<base64 encoded certificate>"
      }
    }